body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #a3d89d, #004c00);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.form-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #fff;
}
.form-group {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}
.form-group label {
    width: 150px;
    color: #fff;
}
.form-group input {
    width: 25%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.gender-group {
    text-align: left;
    gap: 15px;
}
.radio-option {
    display: flex;
    align-items: left;
  }

label {
    font-size: 16px;
}
.button-group {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
.button-group .cancel-btn {
    background: linear-gradient(to right, #ff6e6e, #ff3333);
    color: white;
}
.button-group .submit-btn {
    background: linear-gradient(to right, #33ccff, #0066ff);
    color: white;
}
.button-group button:hover {
    opacity: 0.8;
}
